section.fact.overlay 
  .container.position-relative
    .row.justify-content-center
      .col-lg-6 
        .main-title.text-center
          h2 Facts that Make us Unique
          p There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.
    .row
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon1-fact.webp", alt="fact")
          h4 Expert Mentors
          p Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit, seddo eiusmod tempor.
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon2-fact.webp", alt="fact")
          h4 25000+ Courses
          p Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec.
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon3-fact.webp", alt="fact")
          h4 Student Membership
          p Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit, seddo eiusmod tempor.
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon4-fact.webp", alt="fact")
          h4 Lifetime Access
          p Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit sed do eiusmod.
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon5-fact.webp", alt="fact")
          h4 Source File Included
          p Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec tetur adipisicing elit sed do eiusmod.
      .col-lg-4.col-md-6 
        .single-fact 
          .icon 
            img(src="imgs/icon6-fact.webp", alt="fact")
          h4 Live Support
          p Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt labore dolor sit amet consec.