section.feature
  .container 
    .row.justify-content-end
      .col-lg-4 
        .single-feat.d-flex.flex-row
          .icon: span.lnr.lnr-book 
          .desc
            h4 New Classes
            p In the history of modern astronomy, there is probably no one greater leap forward building and launch.
        .single-feat.d-flex.flex-row
          .icon: span.lnr.lnr-star-half
          .desc 
            h4 Top Courses
            p In the history of modern astronomy, there is probably no one greater leap forward building and launch.
        .single-feat.d-flex.flex-row
          .icon: span.lnr.lnr-screen
          .desc
            h4 Full E-Books
            p In the history of modern astronomy, there is probably no one greater leap forward building and launch.