section.landing.overlay
  .banner_inner 
    .container 
      .row 
        .col-lg-6
          .banner_content
            h2.display-6 We Rank the Best
              br
              | Courses on the Web
            p.text-white In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.
            .search_course_wrap 
              form(class="form_box d-flex justify-content-between w-100")
                input(type="text" class="form-control" name="username" placeholder="Search Course")
                button.btn.search_course_btn.btn-grad Search