section.popular_courses 
  .container 
    .row.justify-content-center
      .col-lg-6 
        .main-title.text-center
          h2 Popular Courses
          p There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station.
    .row 
      .col-lg-3.col-md-6 
        .single-course 
          .course_head.overlay
            img(src="imgs/react.jpg", alt="react", class="img-fluid")
            .author 
              img(src="imgs/author1.webp", alt="author")
              span Mart Taylor
          .content 
            h4: a(href="#") Learn React js beginners
            p When television was young, there was a huge popular show based on the still popular fictional character of Superman.
            .course-meta.d-flex.justify-content-between.align-items-center
              div
                span.meta-info 
                  a(href="#"): i.lnr.lnr-user 355
                span.meta-info 
                  a(href="#"): i.lnr.lnr-bubble 35
              div
                span.price(style="background-image:linear-gradient(90deg, #00aee0 0%, #00fedc 100%);") $150
      .col-lg-3.col-md-6 
        .single-course 
          .course_head.overlay
            img(src="imgs/react.jpg", alt="react", class="img-fluid")
            .author 
              img(src="imgs/author1.webp", alt="author")
              span Mart Taylor
          .content 
            h4: a(href="#") Learn React js beginners
            p When television was young, there was a huge popular show based on the still popular fictional character of Superman.
            .course-meta.d-flex.justify-content-between.align-items-center
              div
                span.meta-info 
                  a(href="#"): i.lnr.lnr-user 355
                span.meta-info 
                  a(href="#"): i.lnr.lnr-bubble 35
              div
                span.price(style="background-image:linear-gradient(90deg, #e94086 0%, #e5925a 100%);") $150
      .col-lg-3.col-md-6 
        .single-course 
          .course_head.overlay
            img(src="imgs/react.jpg", alt="react", class="img-fluid")
            .author 
              img(src="imgs/author1.webp", alt="author")
              span Mart Taylor
          .content 
            h4: a(href="#") Learn React js beginners
            p When television was young, there was a huge popular show based on the still popular fictional character of Superman.
            .course-meta.d-flex.justify-content-between.align-items-center
              div
                span.meta-info 
                  a(href="#"): i.lnr.lnr-user 355
                span.meta-info 
                  a(href="#"): i.lnr.lnr-bubble 35
              div
                span.price(style="background-image:linear-gradient(90deg, #00aee0 0%, #00fedc 100%);") $150
      .col-lg-3.col-md-6 
        .single-course 
          .course_head.overlay
            img(src="imgs/react.jpg", alt="react", class="img-fluid")
            .author 
              img(src="imgs/author1.webp", alt="author")
              span Mart Taylor
          .content 
            h4: a(href="#") Learn React js beginners
            p When television was young, there was a huge popular show based on the still popular fictional character of Superman.
            .course-meta.d-flex.justify-content-between.align-items-center
              div
                span.meta-info 
                  a(href="#"): i.lnr.lnr-user 355
                span.meta-info 
                  a(href="#"): i.lnr.lnr-bubble 35
              div
                span.price(style="background-image:linear-gradient(90deg, #7349cc 0%, #e163e4 100%);") $150