.testimonials
  .container 
    .active_testimonial.owl-carousel.text-center(data-slider-id='1')
      .single_testimonial
        .testimonial_head
          img(src='imgs/quote.webp' alt='')
          h4 Fanny Spencer
          .review
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
        .testimonial_content
          p
            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
            | it, you travel across her faceand She is the host to your journey.
      .single_testimonial
        .testimonial_head
          img(src='imgs/quote.webp' alt='')
          h4 Fanny Spencer
          .review
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
        .testimonial_content
          p
            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
            | it, you travel across her faceand She is the host to your journey.
      .single_testimonial
        .testimonial_head
          img(src='imgs/quote.webp' alt='')
          h4 Fanny Spencer
          .review
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
        .testimonial_content
          p
            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
            | it, you travel across her faceand She is the host to your journey.
      .single_testimonial
        .testimonial_head
          img(src='imgs/quote.webp' alt='')
          h4 Fanny Spencer
          .review
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
            i.lnr.lnr-star
        .testimonial_content
          p
            | As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about
            | it, you travel across her faceand She is the host to your journey.
    .owl-thumbs.d-flex.justify-content-center(data-slider-id='1')
      .owl-thumb-item.active
        .position-relative
          img.img-fluid(src='imgs/t1.webp' alt='')
          .overlay-grad
      .owl-thumb-item
        .position-relative
          img.img-fluid(src='imgs/t2.webp' alt='')
          .overlay-grad
      .owl-thumb-item
        .position-relative
          img.img-fluid(src='imgs/t3.webp' alt='')
          .overlay-grad
      .owl-thumb-item
        .position-relative
          img.img-fluid(src='imgs/t4.webp' alt='')
          .overlay-grad